@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Oleo+Script&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: #333;
}

.section_padding {
  padding: 80px 0;
}

.overlay {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}
.overlay::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333;
  opacity: 0.8;
  z-index: -1;
}

.btn {
  outline: none;
  border: none;
  display: inline-block;
  color: #333;
  padding: 10px 40px;
  border-radius: 5px;
  font-size: 18px;
  text-transform: capitalize;
  transition: 0.3s;
}
.btn.btn_fill {
  background-color: #ff3636;
  color: #fff;
}
.btn.btn_fill:hover {
  background-color: #690000;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.align-content-stretch {
  align-content: stretch;
}

.align-content-center {
  align-content: center;
}

.align-content-start {
  align-content: start;
}

.align-content-end {
  align-content: end;
}

.align-content-space-between {
  align-content: space-between;
}

.align-content-space-around {
  align-content: space-around;
}

.align-content-space-evenly {
  align-content: space-evenly;
}

.align-items-stretch {
  align-items: stretch;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: start;
}

.align-items-end {
  align-items: end;
}

.align-self-stretch {
  align-self: stretch;
}

.align-self-center {
  align-self: center;
}

.align-self-start {
  align-self: start;
}

.align-self-end {
  align-self: end;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

small {
  font-size: 12px;
}

.container {
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
.container .row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

@media (max-width: 576px) {
  .container {
    width: 100%;
  }
  .col {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
  .justify-sm-center {
    justify-content: center;
  }
  .col-sm-1 {
    width: 8.3333333333%;
    padding: 0 15px;
  }
  .col-sm-2 {
    width: 16.6666666667%;
    padding: 0 15px;
  }
  .col-sm-3 {
    width: 25%;
    padding: 0 15px;
  }
  .col-sm-4 {
    width: 33.3333333333%;
    padding: 0 15px;
  }
  .col-sm-5 {
    width: 41.6666666667%;
    padding: 0 15px;
  }
  .col-sm-6 {
    width: 50%;
    padding: 0 15px;
  }
  .col-sm-7 {
    width: 58.3333333333%;
    padding: 0 15px;
  }
  .col-sm-8 {
    width: 66.6666666667%;
    padding: 0 15px;
  }
  .col-sm-9 {
    width: 75%;
    padding: 0 15px;
  }
  .col-sm-10 {
    width: 83.3333333333%;
    padding: 0 15px;
  }
  .col-sm-11 {
    width: 91.6666666667%;
    padding: 0 15px;
  }
  .col-sm-12 {
    width: 100%;
    padding: 0 15px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 740px;
  }
  .justify-md-end {
    justify-content: flex-end;
  }
  .col-md-1 {
    width: 8.3333333333%;
    padding: 0 15px;
  }
  .col-md-2 {
    width: 16.6666666667%;
    padding: 0 15px;
  }
  .col-md-3 {
    width: 25%;
    padding: 0 15px;
  }
  .col-md-4 {
    width: 33.3333333333%;
    padding: 0 15px;
  }
  .col-md-5 {
    width: 41.6666666667%;
    padding: 0 15px;
  }
  .col-md-6 {
    width: 50%;
    padding: 0 15px;
  }
  .col-md-7 {
    width: 58.3333333333%;
    padding: 0 15px;
  }
  .col-md-8 {
    width: 66.6666666667%;
    padding: 0 15px;
  }
  .col-md-9 {
    width: 75%;
    padding: 0 15px;
  }
  .col-md-10 {
    width: 83.3333333333%;
    padding: 0 15px;
  }
  .col-md-11 {
    width: 91.6666666667%;
    padding: 0 15px;
  }
  .col-md-12 {
    width: 100%;
    padding: 0 15px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
  .col-lg-1 {
    width: 8.3333333333%;
    padding: 0 15px;
  }
  .col-lg-2 {
    width: 16.6666666667%;
    padding: 0 15px;
  }
  .col-lg-3 {
    width: 25%;
    padding: 0 15px;
  }
  .col-lg-4 {
    width: 33.3333333333%;
    padding: 0 15px;
  }
  .col-lg-5 {
    width: 41.6666666667%;
    padding: 0 15px;
  }
  .col-lg-6 {
    width: 50%;
    padding: 0 15px;
  }
  .col-lg-7 {
    width: 58.3333333333%;
    padding: 0 15px;
  }
  .col-lg-8 {
    width: 66.6666666667%;
    padding: 0 15px;
  }
  .col-lg-9 {
    width: 75%;
    padding: 0 15px;
  }
  .col-lg-10 {
    width: 83.3333333333%;
    padding: 0 15px;
  }
  .col-lg-11 {
    width: 91.6666666667%;
    padding: 0 15px;
  }
  .col-lg-12 {
    width: 100%;
    padding: 0 15px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
  .col-xl-1 {
    width: 8.3333333333%;
    padding: 0 15px;
  }
  .col-xl-2 {
    width: 16.6666666667%;
    padding: 0 15px;
  }
  .col-xl-3 {
    width: 25%;
    padding: 0 15px;
  }
  .col-xl-4 {
    width: 33.3333333333%;
    padding: 0 15px;
  }
  .col-xl-5 {
    width: 41.6666666667%;
    padding: 0 15px;
  }
  .col-xl-6 {
    width: 50%;
    padding: 0 15px;
  }
  .col-xl-7 {
    width: 58.3333333333%;
    padding: 0 15px;
  }
  .col-xl-8 {
    width: 66.6666666667%;
    padding: 0 15px;
  }
  .col-xl-9 {
    width: 75%;
    padding: 0 15px;
  }
  .col-xl-10 {
    width: 83.3333333333%;
    padding: 0 15px;
  }
  .col-xl-11 {
    width: 91.6666666667%;
    padding: 0 15px;
  }
  .col-xl-12 {
    width: 100%;
    padding: 0 15px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
  .col-xxl-1 {
    width: 8.3333333333%;
    padding: 0 15px;
  }
  .col-xxl-2 {
    width: 16.6666666667%;
    padding: 0 15px;
  }
  .col-xxl-3 {
    width: 25%;
    padding: 0 15px;
  }
  .col-xxl-4 {
    width: 33.3333333333%;
    padding: 0 15px;
  }
  .col-xxl-5 {
    width: 41.6666666667%;
    padding: 0 15px;
  }
  .col-xxl-6 {
    width: 50%;
    padding: 0 15px;
  }
  .col-xxl-7 {
    width: 58.3333333333%;
    padding: 0 15px;
  }
  .col-xxl-8 {
    width: 66.6666666667%;
    padding: 0 15px;
  }
  .col-xxl-9 {
    width: 75%;
    padding: 0 15px;
  }
  .col-xxl-10 {
    width: 83.3333333333%;
    padding: 0 15px;
  }
  .col-xxl-11 {
    width: 91.6666666667%;
    padding: 0 15px;
  }
  .col-xxl-12 {
    width: 100%;
    padding: 0 15px;
  }
}
/* Responsive Mixin */
.header_area {
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
.header_area .menu li {
  margin-left: 15px;
}
.header_area .menu a {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.header_area .menu a:hover {
  color: #ff3636;
}

.banner_area .single_banner {
  min-height: 100vh;
}
.banner_area .single_banner .banner_content {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.banner_area .single_banner .banner_content span {
  font-size: 30px;
  font-weight: 600;
}
.banner_area .single_banner .banner_content h1 {
  font-size: 60px;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 20px;
}
.banner_area .single_banner .banner_content .btn_box {
  margin-top: 50px;
}
.banner_area .single_banner .banner_content .btn_box a {
  margin: 0 10px;
}
.banner_area .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  outline: none;
  border: none;
  z-index: 2;
}
.banner_area .slick-arrow i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: orangered;
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.banner_area .slick-arrow i:hover {
  background-color: #360000;
}
.banner_area .slick-arrow.slick-prev {
  left: 50px;
}
.banner_area .slick-arrow.slick-next {
  right: 50px;
}

.section_title {
  text-align: center;
  margin-bottom: 50px;
}
.section_title span {
  display: block;
  font-family: Oleo Script;
  font-size: 25px;
  text-transform: lowercase;
}
.section_title h2 {
  font-size: 44px;
  text-transform: capitalize;
  display: inline-block;
  line-height: 1;
  position: relative;
  padding-bottom: 15px;
}
.section_title h2::before, .section_title h2::after {
  height: 2px;
  background: #ff3636;
  position: absolute;
  left: 50%;
  content: "";
  transform: translateX(-50%);
}
.section_title h2::before {
  width: 100px;
  bottom: 0px;
}
.section_title h2::after {
  width: 60px;
  bottom: -10px;
}

.about_area .about_content p {
  margin: 0 0 25px;
}
.about_area .about_gallery {
  position: relative;
}
.about_area .about_gallery img {
  border: 1px solid lightgray;
}
.about_area .about_gallery img:nth-child(1) {
  width: 80%;
}
.about_area .about_gallery img:nth-child(2) {
  position: absolute;
  width: 83%;
  top: 0;
  left: 0;
  transform: translate(20%, 40%);
}

.menu_area {
  background-color: rgba(250, 250, 250, 0.9);
}
.menu_area .single_menu {
  margin-bottom: 30px;
  background: white;
  padding: 15px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.menu_area .single_menu:hover img {
  border-radius: 50%;
}
.menu_area .single_menu img {
  max-width: 110px;
  max-height: 110px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s;
}
.menu_area .single_menu .menu_content h4 {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed lightgray;
  padding-bottom: 10px;
}
.menu_area .single_menu .menu_content h4 span {
  font-style: italic;
  color: orangered;
}
.menu_area .single_menu .menu_content p {
  margin-top: 10px;
}/*# sourceMappingURL=style.css.map */