.banner_area {
  .single_banner {
    height: 100vh;

    .banner_content {
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;

      span {
        font-size: 30px;
        font-weight: 600;

        @include max-md {
          font-size: 26px;
        }

        @include max-sm {
          font-size: 18px;
        }
      }

      h1 {
        font-size: 60px;
        font-weight: 700;
        text-transform: capitalize;
        margin-top: 20px;

        @include max-lg {
          font-size: 50px;
        }
        @include max-md {
          font-size: 40px;
        }

        @include max-sm {
          font-size: 22px;
        }
      }

      .btn_box {
        margin-top: 50px;
        a {
          margin: 0 10px;
          @include max-sm {
            padding: 4px 8px;
          }
        }
      }
    }
  }

  // custom css for slick slider
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    outline: none;
    border: none;
    z-index: 2;

    i {
      width: 50px;
      height: 50px;
      line-height: 50px;
      background: orangered;
      font-size: 20px;
      color: white;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: darken($primary, 50);
      }
    }
    &.slick-prev {
      left: 50px;
    }
    &.slick-next {
      right: 50px;
    }
  }
}
