.header_area {
  padding: 10px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  @include max-md {
    position: static;
    padding: 0;
    height: 0;
  }

  .logo_box {
    @include max-md {
      position: absolute;
      top: 13px;
      width: 140px;
    }
  }

  .menu {
    @include max-sm {
      display: none;
    }

    li {
      margin-left: 15px;
    }
    a {
      text-transform: capitalize;
      font-size: 18px;
      font-weight: 500;
      color: $white;
      &:hover {
        color: $primary;
      }
    }
  }
}
// mobile menu
.slicknav_menu {
  display: none;
  @include max-md {
    display: block;
  }
  a {
    text-transform: capitalize;
  }
}
