.section_title {
  text-align: center;
  margin-bottom: 50px;

  span {
    display: block;
    font-family: Oleo Script;
    font-size: 25px;
    text-transform: lowercase;
  }

  h2 {
    font-size: 44px;
    text-transform: capitalize;
    display: inline-block;
    line-height: 1;
    position: relative;
    padding-bottom: 15px;

    &::before,
    &::after {
      height: 2px;
      background: $primary;
      position: absolute;
      left: 50%;
      content: "";
      transform: translateX(-50%);
    }

    &::before {
      width: 100px;
      bottom: 0px;
    }
    &::after {
      width: 60px;
      bottom: -10px;
    }
  }
}
