.team_area {
  background-color: $gray;
  .single_team {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;

    &:hover .team_info {
      bottom: 0;
    }

    img {
      padding: 3px;
      border: 1px solid $gray;
    }
    .team_info {
      background: #333;
      color: #fff;
      text-align: center;
      position: absolute;
      width: 100%;
      bottom: -89px;
      left: 0;
      transition: 0.3s;
      padding: 10px 0;

      h4 {
        text-transform: capitalize;
        span {
          display: block;
          font-size: 16px;
          text-transform: lowercase;
        }
      }
    }
  }
}
